h1, h2{
    font-family: 'Yeseva one', cursive;
}

h3, p, input, textarea, select, button, label {
    font-family: 'Lato', sans-serif;
}

/* Hide horizontal scrollbar for WebKit-based browsers */
::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    width: 0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.rotate {
    transform: rotate(90deg);
    position: relative;
    top: 10px;
    right: 6px;
}

@keyframes rotation {
    from {
        transform-origin: center;
        transform: rotate(0deg);
    }

    to {
        transform-origin: center;
        transform: rotate(360deg);
    }
}

.rotateIcon {
    animation: rotation 1s infinite linear;
    transform-origin: 50% 50%;
    /* Adjust the values as needed */
}

.rotatepos {
    position: relative;
    top: 0;
    left: 0;
}